<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application>
        <activity
            android:name=".CeibroCapturedPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".CeibroCameraActivity"
            android:exported="true" />

        <activity
            android:name=".CeibroImageViewerActivity"
            android:exported="true" />
    </application>

</manifest>